<div class="container">
  <!-- <ejs-textarea width="200" placeholder="Enter your comments">
  </ejs-textarea> -->

  <!-- <ejs-textarea placeholder="Auto" floatLabelType="Auto" cssClass="e-success"></ejs-textarea>
  <ejs-textarea placeholder="Never" floatLabelType="Never" cssClass="e-warning"></ejs-textarea>
  <ejs-textarea placeholder="Always" floatLabelType="Always" cssClass="e-error"></ejs-textarea> -->

  <ejs-textarea width='200' placeholder="Enter your comments" floatLabelType="Never" rows="3" cols="50"
    resizeMode="Both" maxLength="4" readonly="true" [enabled]="false">
  </ejs-textarea>
</div>